<?xml version="1.0" encoding="UTF-8"?><UserSettings>
<Font name="Monospaced" size="13" style="1"/>
<Background b="204" g="255" r="153"/>
<Foreground b="0" g="0" r="0"/>
<StatusBar show="true"/>
<RecentFiles>D:\programfiles\Java\java-oxygen\eclipse\workspace\MiniNotepadPlusPlus\test\code.cpp
D:\programfiles\Java\java-oxygen\eclipse\workspace\MiniNotepadPlusPlus\test\Code.java
C:\Users\sin\Desktop\C++函数.txt
D:\programfiles\Java\java-oxygen\eclipse\workspace\MiniNotepadPlusPlus\test\code.c
D:\programfiles\Java\java-oxygen\eclipse\workspace\MiniNotepadPlusPlus\test\181229.txt
D:\programfiles\Java\java-oxygen\eclipse\workspace\MiniNotepadPlusPlus\Buffer.txt
D:\programfiles\Java\java-oxygen\eclipse\workspace\MiniNotepadPlusPlus\test\code.py
C:\Users\sin\Desktop\新建文本文档.txt
D:\programfiles\Java\java-oxygen\eclipse\workspace\MiniNotepadPlusPlus\settings.xml
D:\programfiles\Java\java-oxygen\eclipse\workspace\MiniNotepadPlusPlus\test\test1.txt
</RecentFiles>
</UserSettings>
